.navMenu {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:flex-end;
    background-color: rgba(37, 0, 0, 0.02);
    backdrop-filter: blur(10px);
}

.navButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vw;
    min-height: 50px;
}

.navButton {
    padding: 1vw 2vw;
    text-shadow: .05rem .15rem 1rem rgb(162, 145, 189);
    font-size: 1.5rem;
}