.navMenu {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(37, 0, 0, 0.02);
    backdrop-filter: blur(10px);
}

.navButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vw;
    min-height: 50px;
}

.navButton {
    padding: 1vw 2vw;
    text-shadow: .05rem .15rem 1rem rgb(162, 145, 189);
    font-size: 1.5rem;
}

.logoContainer {
    position: relative;
    top:-50%;
    transform: translateY(50%);
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 50% 50%;
    box-shadow: .05rem .15rem 1rem rgb(162, 145, 189);
    height: 6vw;
    width: 6vw;
    min-height: 60px;
    min-width: 60px;
}

.logo {
    transform: translateX(5%);
} 
